/****************************
nav {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 2px solid rgb(0, 0, 0);
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.Nav-Links {
  gap: 20px;
  display: flex;
  margin-left: 750px;
}

.Navbar a:link,
.Navbar a:visited {
  background-color: white;
  color: black;
  padding: 15px 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  border: 5px solid white;
  border-radius: 12px;
}

.Navbar a:hover,
.Navbar a:active {
  border-bottom-color: white; 
}

.Navbar a.active {
  border-bottom-color: #c8a04a !important;
}
****************************/

.Cafe {
  width: 100%;
  height: 929px;
  object-fit: cover;
  display: block;
  object-position: bottom;
  margin-top: 15px;
}

.Cafelogo {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 250px;
  height: auto;
}